.panel {
  height: 100%;
  width: var(--panel-width);
  transition: 400ms width ease-in-out;
  display: flex;
  background-color: var(--layout-bg-color);
  flex-direction: column;
}
.panel.collapsed {
  width: 0;
}
.panel-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}


.panel-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.panel-content::-webkit-scrollbar {
  width: 8px;
}
.panel-content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}
.panel-content::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
.panel-footer {
  width: 100%;
  height: 10%;
}



/* this is the panel items that u can see */
.panel-item-holder{
  display: flex;
  flex-direction: column;
}
.panel-item{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.panel-item:hover .length-holder {
  color: white;
  transform: scale(1.05);
}

.panel-item.active{
  background-color: rgba(0, 0, 0, 0.582);
}
.panel-item-left{
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: var(--icon-color-dark);
}

.panel-icon{
  transition: all 300ms ease-in-out;
  color: var(--icon-light-color);
  font-size: 1.1rem;
}

.length-holder{
  color: var(--icon-light-color);
  font-size: 0.8rem;
  /* font-family: var(--bitcount-single); */
  transition: 300ms ease-in-out;
}
.panel-title{
  color: white;
  font-size: 0.9rem;
  font-weight: 200;
}


/* ------------------- */